aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor 
numpy
pillow==10.2.0
psutil
pydub
pykeyboard
pyrogram==2.0.106
python-dotenv
python-telegram-bot==21.0.1
pytube
pyyaml==6.0.1
py-tgcalls==0.9.7
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
